:root{
    --hcolor: #000;
    --lightBlack: rgba(255, 255, 255, 0.445);
    --c2: #e99670;
    --c1: #e0c095;
    --lightC1: rgba(255, 145, 1, 0.329);
    --black: #ffffff;
    --fcsColor: #006bc9;
    --brown: #ff0000;
}