@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");




:root {
    --hcolor: #f0f8ff;
    --lightBlack: rgba(0, 0, 0, 0.123);
    --c2: #86736a;
    --c1: #deb887;
    --lightC1: rgba(222, 184, 135, 0.329);
    --black: #000;
    scroll-behavior: smooth;
    --fcsColor: #f0f8ff;
    --headerH: 0;
    --brown: #a52a2a;
    --intoduceIn: .9s
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    /* background: var(--lightC1) */
}


body {
    overflow: hidden;

}

#bg-video {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -100;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --hcolor: #f0f8ff !important;
        --lightBlack: rgba(0, 0, 0, 0.123) !important;
        --c2: #86736a !important;
        --c1: #deb887 !important;
        --lightC1: rgba(222, 184, 135, 0.329) !important;
        --black: #000 !important;
        scroll-behavior: smooth;
        --fcsColor: #f0f8ff !important;
        --brown: green !important;
        --intoduceIn: .9s
    }
} */

input[type=radio] {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#main-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    /* scroll-snap-type: y proximity; */
    /* scroll-snap-stop: always; */
    padding-bottom: 150px;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.nav-bar {
    width: 100%;
    color: var(--hcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background: var(--c1);
    /* position: fixed; */
    flex-wrap: wrap;
    border-radius: 0 0 20px 20px;
}

#pname {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    letter-spacing: .9px;

}


@keyframes overlay-intro {


    100% {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(5px) brightness(.6);
    }
}

.nav-bar * {
    color: var(--black) !important;
}

#pname span {
    font-size: 1.8rem;
}

@keyframes introduce {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

#intro {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    backdrop-filter: brightness(.3) blur(5px);
    transition: backdrop-filter 0s;
    color: var(--hcolor);
    font-size: 1.3rem;
    animation: hideop .7s ease-in-out 6s 1 forwards;
}

#intro>* {
    opacity: 0;
    animation: introduce .7s linear 0s 1 forwards;

}

#intro>*>*,
#intro>* {
    color: var(--hcolor) !important;
}

#intro h1 {
    animation-delay: .3s;
}

#intro>:first-child {
    display: none;
}

/* #intro #name {
    display: none;
} */
#pname {
    cursor: pointer;
}

#pname:hover {
    background: var(--lightBlack);
    color: var(--hcolor);
    padding: 4px;
    border-radius: 4px;
}

@keyframes grete {
    0% {
        transform: rotate(0deg) scale(0);
    }

    40% {
        transform: rotate(-40deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes hideop {

    99% {
        opacity: 0;

    }

    100% {
        z-index: -150;
        backdrop-filter: unset;
    }
}

#intro h1:first-of-type span {
    transform: scale(0);
    font-size: 2.5rem;
    animation: grete 2s ease-in-out .8s 1 forwards;
}

#name {
    gap: 5px !important;
}

#brief {
    animation-delay: 1.9s;
    padding: 0 10%;
    gap: 20px;

}

#intro h1,
#name {
    gap: 8px;
}

#pname>:not(:first-child) {
    display: none;
}


#name span {
    font-size: 2.3rem;

}



.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.nav-bar ul li label {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: .8px;
}

.nav-bar ul li label {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: .8px;
    color: var(--black) !important;
}


.nav-bar ul li label:hover,
.nav-bar ul li label:hover span {
    color: var(--fcsColor);
    transform: scale(1.1);
    cursor: pointer;
}

.nav-bar ul label:hover {

    margin: 0 10px;
}

.nav-bar ul li input[type=radio]:checked+label,
.nav-bar ul li input[type=radio]:checked+label span {
    color: var(--fcsColor) !important;
    transform: scale(1.1);
}

.nav-bar ul li input[type=radio]:checked+label {
    margin: 0 10px;
}

.topic-header {
    text-transform: uppercase;
    font-family: sans-serif;
    color: var(--c2);
    font-weight: lighter;
    text-align: center;
    letter-spacing: .9px;
}

.topic-container {
    padding-top: var(--headerH);
    scroll-snap-align: start;
    margin: 20px 3%;
    border-radius: 8px;
    margin-bottom: 20%;
    backdrop-filter: blur(7px);
}

.details {
    background: var(--lightBlack);
    border-radius: 8px;
    padding: 10px;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
}

/* #projects {
    overflow-x: hidden;
} */

div.details section h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: var(--black) !important;
}

p.light.techs {
    margin: 5px;
    font-style: italic;
    color: var(--c2) !important;
    display: flex;
    align-items: start;
    align-content: center;
    gap: 5px;
}

p.light.techs::before {
    font-family: "Material Icons";
    content: "handyman";
}

div.details>section:nth-child(2) {
    display: grid;
    justify-items: center;
    gap: 6px;
    grid-template-columns: auto;
    align-content: center;
}

div.details section:nth-child(2) div:last-child {
    /* background-color: aliceblue; */
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 8px;
    padding: 0 10px;
}

.vertical-divider {
    width: 1px;
    background: linear-gradient(180deg, var(--c2), transparent);
}

video {
    max-height: 390px;
    max-width: 100%;
    border-radius: 8px;
}

.more {
    display: flex;
    width: 100%;
}

.radios {
    max-height: 20px;
    display: flex;
}



.tab-nail {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px;
    margin-right: 1px;
    cursor: pointer;
    color: var(--c2);
    text-transform: capitalize;
    border-right: 1px solid var(--lightBlack);

}

.radios label:last-of-type p {
    border-width: 0;
}

.radios label a {
    text-decoration: none;
}

label {
    height: fit-content;
}

input[type=radio]:checked+label p.tab-nail {

    letter-spacing: .9px;

    font-weight: 800;
    color: var(--black);
    z-index: 5;
    font-size: 1.05rem;
}

.tab-content {
    /* background: var(--lightC1); */
    padding: 10px;
    line-height: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
    height: 300px;
    font-size: .95rem;
    /* max-height: 34vh; */
    width: 100%;
    overflow-y: auto;
    text-transform: capitalize;
    color: var(--black) !important;
}

.tab-content ul {
    font-size: .9rem;
    padding: 0 5px;
}

.no-scroll {
    overflow-y: hidden;
    height: 80vh;
}

.scrollable-topic-body {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* scroll-snap-type: y mandatory; */
}

.no-scroll>.scrollable-topic-body>.details {
    max-width: 85%;
    /* scroll-snap-align: start; */
    margin: 35px 0;


}

.coding-bg {
    /* background: url('img/bg.jpg'); */
}



ul.skills-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: .8rem;
}

ul.skills-list li svg {
    width: 90px;
    aspect-ratio: 1/1;
    animation: unShake 1s 1 ease-in-out .1s forwards;
}

.points-list {
    padding: 30px 20px;
}

.points-list li {
    margin: 0 0 20px 0;
    color: var(--brown);
    font-weight: bold;
}

.swiper-container {
    height: 70vh;
    overflow: hidden;
    position: relative;
    /* Set the height of the slider */
}



@keyframes shake {
    1% {
        transform: rotate(0deg) scale(1);
    }

    33% {
        transform: rotate(-20deg) scale(1.05);
    }

    66% {
        transform: rotate(20deg) scale(1.08);
    }

    100% {
        transform: rotate(0deg) scale(1.08);
    }
}

@keyframes unShake {

    100% {
        transform: rotate(0deg) scale(1);
    }
}

ul.skills-list li:hover svg {

    animation: shake 1s 1 ease-in-out .1s forwards;
}

.width8 {
    width: 80%;

}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-flex {
    flex-flow: column;
}

.skills-list {
    list-style: none;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 40px;
}

.card {
    box-shadow: var(--black) 0 0 15px 0;
    border-radius: 12px;
    overflow: hidden;
    margin: 25px 10px;
}

#education>div {
    gap: 8px;
    background: var(--lightC1);
    max-width: 600px;
}

#education>div img {
    max-width: 50%;
    border-radius: 8px 0 0 8px;
}

#education>div div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    color: var(--black) !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--c2);
}

::-webkit-scrollbar-track {
    background: var(--c1);
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hcolor);
}


#achievements {

    border-radius: 3px;
    gap: 20px;

}

div#achievements p {
    font-size: large;
    padding: 20px 5px;
    color: var(--black) !important;
}

div#achievements p:not(:last-of-type) {
    border-bottom: 1px solid var(--lightBlack);
    width: 100%;
    text-align: center;
}

.gained-focus {
    transition-delay: .1s;
    color: var(--brown);
    transform: scale(1.2);
    text-shadow: 5px 3px 3px #00000036;
    letter-spacing: 1.2px;

}

.hidden {
    transform: translateX(-2%);

    opacity: 0;

}

span[data-helper="name"] {
    font-weight: lighter;
}

@keyframes slide-in-show {

    60% {
        opacity: .8;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        /* transform-style: initial; */
    }
}

.show {
    animation: slide-in-show .9s ease-in-out 0s 1 normal forwards;
    /* transform-style: initial; */
}

.details video {
    cursor: pointer;
}

video:fullscreen {
    cursor: auto;
}


#contact>section>div:last-of-type a svg {
    max-width: 100%;
    aspect-ratio: 1/1;
    image-rendering: crisp-edges;
}

#contact>section>div:last-of-type a:hover {
    transform: scale(1.06);
    transition-delay: .1s;
}

#contact>section>div:last-of-type>a {
    max-width: 50px;
    max-height: 50px;
    display: flex;
}

#contact>section {
    gap: 30px;
    color: var(--black);
}

#contact>section p {
    gap: 6px;

}

#contact>section>div:last-child {
    width: 100%;
}

#contact>section>div {
    gap: 45px;
    flex-wrap: wrap;
}

#contact {
    gap: 30px;
}

@media (max-width: 1040px) {
    div.details section:nth-child(2) {
        grid-template-columns: auto;

    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 90%;
    }

    .vertical-divider {
        display: none;
    }

    .nav-bar ul.burger-expanded>li {
        transform: scaleX(1) !important;
    }
}

@media (max-width: 925px) {
    ul.burger-collabsed {
        flex-direction: column;
        gap: 3px;
    }

    ul.burger-collabsed li {
        display: block;
        width: 35px;
        height: 4px;
        background: var(--black);
        border-radius: 8px;
        overflow: hidden;

    }

    ul.burger-collabsed:not(.burger-expanded) li input:checked+label,
    ul.burger-collabsed:not(.burger-expanded) li input:checked+label>span {
        color: var(--black) !important;
    }

    ul.burger-expanded {
        gap: 0;
    }

    ul.burger-expanded li {

        width: initial;
        height: initial;
        background: transparent;
        /* border-bottom: 1px solid var(--lightBlack); */
        /* padding-bottom: 3px; */
        border-radius: 2px;
        box-shadow: var(--lightBlack) 0 0 8px 0;
    }

    .nav-bar {
        padding: 7px 5%;
        justify-content: space-between;
    }

}

@media (max-width: 600px) {
    /* .nav-bar ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-content: space-evenly;
    } */

    #education>div div {

        text-align: center;
    }

    ul.skills-list li svg {
        width: 60px;
    }
}

@media (max-width:450px) {
    .points-list li {
        margin: 0 0 15px 0;

        font-size: .7rem;
    }

    #pname {
        font-size: 1.5rem;
    }

    div#achievements p {
        font-size: medium;

    }

    .width8 {
        width: 92%;
    }

    #education>div div {

        text-align: center;
        font-size: .85rem;
    }

    p.light.techs {
        font-size: .9rem;
    }
}

.material-symbols-outlined {
    color: inherit !important;
}