@import url("https://unpkg.com/swiper@8/swiper-bundle.min.css");

.swiper-slide {
    height: 100%;
    /* Set the height of the slides */
    width: 100%;
    /* Set the width of the slides */
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateX(0deg) translateZ(-100px);
    transition: transform 0.5s;
}

.swiper-slide-active {
    transform: rotateX(0deg) translateZ(0px);
}

.swiper-slide-prev {
    transform: rotateX(0deg) translateZ(-200px);
}

.swiper-slide-next {
    transform: rotateX(0deg) translateZ(-200px);
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column;
}

.swiper-container-vertical>.swiper-wrapper>.swiper-slide {
    width: auto;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    z-index: 10;
    top: 50%;
}

.swiper-button-prev {
    left: -3%;
}

.swiper-button-next {
    right: -3%;
}

.swiper-container-vertical .swiper-button-prev,
.swiper-container-vertical .swiper-button-next {
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
    background-position: center;
}

.swiper-container-vertical .swiper-button-prev::after,
.swiper-container-vertical .swiper-button-next::after {
    font-size: 30px;
    color: #333;
}

.swiper-container-vertical .swiper-button-prev::after {
    content: '\2191';
}

.swiper-container-vertical .swiper-button-next::after {
    content: '\2193';
}